* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --alkaliMetalsColor: rgb(255, 255, 255);
    --alkaliMetalsBackgroundColor: rgb(0, 17, 255);
    /* ======   =================== */
    --alkaliEarthMetalBackgroundColor: rgb(255, 0, 153);
    --alkaliEarthMetalColor: rgb(0, 221, 255);
    /* ======   ================== */
    --dBlockColor: rgb(33, 2, 2);
    --dBlockBackgroundColor: #ffff00b4;
    /* ======   ================= */
    --groupBackgroundColor: red;
    --groupColor: rgb(0, 0, 0);
    /* ===================================== */
    --periodBackgroundColor: green;
    --periodColor: red;

    /* === metal ============================ */
    --metalBackgroundColor: red;
    --metalColor: rgb(0, 0, 0);

    /* === NON METALS COLOR ============================ */
    --nonMetalBackgroundColor: rgb(47, 255, 0);
    --nonMetalColor: rgb(0, 0, 0);
    /* === METALLOIDS COLOR ============================ */
    --metalloidsBackgroundColor: rgb(242, 255, 0);
    --metalloidsColor: rgb(0, 0, 0);
    /* === HALOGENS COLOR ============================ */
    --halogensBackgroundColor: rgb(0, 255, 208);
    --halogensColor: rgb(0, 0, 0);
    /* ======================================= */
    --nobleGasesBackgrounColor: rgb(116, 114, 114);
    --nobleGasesColor: rgb(0, 0, 0);
}

*::selection {
    background-color: #000000;
    color: #ffffff;
}

@font-face {
    font-family: a;
    src: url(font1.TTF);
}

@font-face {
    font-family: b;
    src: url(fonts/GOBOLD.OTF);
}

@font-face {
    font-family: c;
    src: url(fonts/ARLRDBD.TTF);
}


body {
    background-color: #13011e;
    color: rgb(255, 255, 255);
}

.theory{
    height: 100vh;
    width: 100vw;
    background-color:transparent;
    position: fixed;
    z-index: 999;
    display: none;
    top: 0;
    transition: all ease ease-in-out 2s;
}
.theory-cross{
    position: absolute;
    top: 90%;
    right: 50%;
    transform: translateX(50%);
    height: 5vw;
    width: 5vw;
    border-radius: 50%;
    background-color: red;

}
.main {
    width: 100vw;
}

.show-card {
    width: 47vw;
    /* height: 47vh; */
    position: fixed;
    border-radius: 1vw;
    /* background-color: #ffffff; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 999;
    /* box-shadow: inset 20px 20px 15px rgba(0, 238, 251, 0.2); */
    opacity: 1;
    transition: display 2s, opacity 1s, height 0.5s;
    display: none;
    overflow: hidden;
    background-position: center;
    background-size: cover;
}

.show-box {
    width: 96%;
    position: relative;
    /* height: 96%; */
    border-radius: 5px;
    display: flex;
    align-items: center;
    min-height: 30vh;
    justify-content: space-around;
    flex-direction: column;
    mix-blend-mode: difference;
    color:rgb(255, 255, 255);
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(3px);
}

.show-box-h {
    font-family:b;
    font-size: 1.5vw;
    text-transform: uppercase;
    font-weight: 799;
}

.show-box-p {
    max-width: 90%;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 1vw;
    border-radius: .5vw;
    font-weight: 799;
    color: #ffffff;
    background-color: #252424;
    padding: .8vw;
    /* mix-blend-mode: multiply; */
}

.show-box-f {
    max-width: 80%;
    font-family:c;
    font-size: 1vw;
    text-transform:uppercase;
    font-weight: 189;
    color: rgb(219, 194, 231);
}

/* ==== PAGE 1 ======== */
/* ==================== */

.page1 {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;

    background-image: url("photos/kali\ wallpaper.jpg");

    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chart {
    position: relative;
    height: 90vh;
    width: 96%;
    display: flex;
    justify-content: space-around;
    align-items: end;
    padding-bottom: 10px;
    gap: 1px;
    overflow: hidden;
    border-radius: 2vw;
    padding: 2vw;
    /* background-image: url("kali wallpaper.jpg");
    background-position: center;
    background-size: cover; */
    /* backdrop-filter: blur(2px); */
    border: 1px solid black;
}
/* ==== TOP COLOR COMBINATION ================== */
.cover {
    position: absolute;
    width: 40vw;
    min-height: 5vh;
    background-color: #0040af60;
    top: 0%;
    left: 50%;
    transform: translateX(-70%);
    /* overflow: hidden; */
    border-bottom-left-radius: 1vw;
    border-bottom-right-radius: 1vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    padding: 1vh 1vw;
    /* backdrop-filter: blur(1px); */
}

.cover-box {
    position: relative;
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover-number-1 {
    background-color: var(--alkaliMetalsBackgroundColor);
}

.cover-number-2 {
    background-color: var(--alkaliEarthMetalBackgroundColor);
}

.cover-number-3 {
    background-color: var(--dBlockBackgroundColor);
}

.cover-number-4 {
    background-color: var(--metalBackgroundColor);
}

.cover-number-5 {
    background-color: var(--metalloidsBackgroundColor);
}

.cover-number-6 {
    background-color: var(--nonMetalBackgroundColor);
}

.cover-number-7 {
    background-color: var(--halogensBackgroundColor);
}

.cover-number-8 {
    background-color: var(--nobleGasesBackgrounColor);
}

.cover-box:hover .cover-box-text {
    display: block;
    width: auto;
    opacity: 1;
    padding: 1vw;
    transition: all ease 1s;
    height: auto;
    border-radius: 1vw;
    /* backdrop-filter: blur(4px); */
    background-color: #0000006c;
}

.cover-box:hover {
    border: 2px solid black;


}

.cover-box-text {
    position: absolute;
    top: 150%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0%;
    margin: 1px;
    /* display: none; */
    width: 0;
    overflow: hidden;
    opacity: 0;
    transition: opacity ease-in 2s;
}

.cover-box-text h1 {
    font-family: a;
    text-transform: capitalize;
    font-weight: 100;
    font-size: 2vw;
}

.chart-group {
    /* height: 100%; */
    width: 5vw;
    /* background-color: #eeee08f3; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    /* overflow: hidden; */
}

.chart-period {
    width: 4vw;
    height: 4vw;
    border-radius: 0.6vw;
    background-color: #0f043a33;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: serif "Impact Regular";
    /* backdrop-filter: blur(10px); */
    cursor: pointer;
    transition: all 1s;
    opacity: 1;
}

.chart-period h1:hover {
    font-size: 1.8vw;
}


.chart-period:hover {
    box-shadow: inset 8px 8px 14px black;
}

.chart-period-number-7 {
    margin-bottom: 20px;
}

.chart-period-number-0 {
    margin-bottom: 20px;
}

.chart-period h1,.chart-period h2:hover {
    cursor: pointer;
    width: 100%;
    line-height: 4vw;
    font-style: italic;
    font-size: 2vw;
    /* background-color: #00fff772; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}

/*====== COLOR COMBINATION IN PERIODIC TABLE ========================== */
/*  ====  GROUP BLOCK COLOR ======================= */
div [data-block="group-block"] {
    background-color: var(--groupBackgroundColor);
    color: var(--groupColor);
}

div [data-block="group-block"]:hover {
    background-color: var(--groupColor);
    color: var(--groupBackgroundColor);
}

/* ==== PERIOD BLOCKS COLOR ==================================== */
div [data-block="period-block"] {
    background-color: var(--periodBackgroundColor);
    color: var(--periodColor);
}

div [data-block="period-block"]:hover {
    background-color: var(--periodColor);
    color: var(--periodBackgroundColor);
}

/* ==== ALKALI METAL , GROUP 1  =========================================== */

div [data-block="alkali-metal"] {
    background-color: var(--alkaliMetalsBackgroundColor);
    color: var(--alkaliMetalsColor);
}

div [data-block="alkali-metal"]:hover {
    background-color: var(--alkaliMetalsColor);
    color: var(--alkaliMetalsBackgroundColor);
}

/*===== ALKALI EARTH METALS , GROUP 2  ==================================================== */

div [data-block="alkali-earth-metal"] {
    background-color: var(--alkaliEarthMetalBackgroundColor);
    color: var(--alkaliEarthMetalColor);
}

div [data-block="alkali-earth-metal"]:hover {
    background-color: var(--alkaliEarthMetalColor);
    color: var(--alkaliEarthMetalBackgroundColor);
}

/* ======= D BLOCKS ELEMENTS  COLOR ==============================  */
div [data-block="d-block"] {
    background-color: var(--dBlockBackgroundColor);
    color: var(--dBlockColor);
}

div [data-block="d-block"]:hover {
    background-color: var(--dBlockColor);
    color: var(--dBlockBackgroundColor);
}

/* =======  metal ELEMENTS  COLOR ==============================  */
div [data-block="metal"] {
    background-color: var(--metalBackgroundColor);
    color: var(--metalColor);
}

div [data-block="metal"]:hover {
    background-color: var(--metalColor);
    color: var(--metalBackgroundColor);
}

/* =======  METALLOIDS ELEMENTS  COLOR ==============================  */
div [data-block="metalloids"] {
    background-color: var(--metalloidsBackgroundColor);
    color: var(--metalloidsColor);
}

div [data-block="metalloids"]:hover {
    background-color: var(--metalloidsColor);
    color: var(--metalloidsBackgroundColor);
}

/* =======  NON METALS ELEMENTS  COLOR ==============================  */
div [data-block="non-metal"] {
    background-color: var(--nonMetalBackgroundColor);
    color: var(--nonMetalColor);
}

div [data-block="non-metal"]:hover {
    background-color: var(--nonMetalColor);
    color: var(--nonMetalBackgroundColor);
}

/* ====  HALOGENS  ELEMENT COLOR    ================================== */
div [data-block="halogens"] {
    background-color: var(--halogensBackgroundColor);
    color: var(--halogensColor);
    transition: all ease-in 0.21s;
}

div [data-block="halogens"]:hover {
    background-color: var(--halogensColor);
    color: var(--halogensBackgroundColor);
}

/* ====  NOBLE GASSES ELEMENT COLOR    ================================== */
div [data-block="noble-gases"] {
    background-color: var(--nobleGasesBackgrounColor);
    color: var(--nobleGasesColor);
    transition: all ease-in 0.21s;
}

div [data-block="noble-gases"]:hover {
    background-color: var(--nobleGasesColor);
    color: var(--nobleGasesBackgrounColor);
}